# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~
utils.js

# npm
node_modules
*.log
*.gz
/public/images


# Coveralls
coverage

# Benchmarking
benchmarks/graphs